:root {
  /*color*/
  --white-color: #fff;
  --black-color: #140a00;
  --green-color: #5C6D47;
  --dark-green-color: #2f3a2c;
  --orange-color: #E99420;

  /* size */
  --padding: 12px;

  /* font size */
  --font-XL: 40px;
  --font-L: 30px;
  --font-M: 25px;
  --font-S: 18px;
  --font-micro: 12px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  padding-top: 100px;
}


/* header는 header.css */
/* table*/
a {
  color: var(--green-color) !important;
}

a:link {
  color: var(--green-color) !important;
  text-decoration: none;
}

a:visited {
  color: var(--green-color);
  text-decoration: var(--green-color);
}

a:hover {
  text-decoration: none;
}

/* title */
.cs_header {
  display: flex;
  justify-content: center;

}

.cs_header #title {
  margin: 0 80px 0 30px;
}

.cs_header #title h1,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title h1 {
  font-size: var(--font-XL);
  color: var(--green-color);
}

.cs_header #title h2 {
  font-size: var(--font-S);
  color: rgb(146, 146, 146)
}

select {
  width: 65px;
  padding: .5em .2em;
  border: none;
  border-right: 1px solid #999;
  border-radius: 0px;
}

.cs_header .searchingbox {
  margin: 40px 0 0;
  display: inline;
  border: none;
  height: 35px;
  width: 50vw;
  max-width: 500px;
  border: 1px solid var(--green-color);
}

.cs_header .searchingbox input {
  font-size: var(--font-S);
  width: 30vw;
  max-width: 450px;
  padding: 0 0 0 8px;
  margin: 0px;
  border: 0px;
  background-color: var(--white-color);
}

.cs_header .searchingbox input:focus {
  outline: none;
}

.cs_header .searchingbox button {
  width: 55px;
  float: right;
  outline: none;
  padding-top: 5px;
  margin-bottom: 4px;
  background-color: var(--white-color);
  color: var(--green-color);
  border: 0px;
}


/* .content */


.login-write_button {
  margin: 0 16% 14px 0;
  display: flex;
  flex-direction: row-reverse;
}

#login {
  font-size: var(--font-S);
  border: none;
  color: var(--dark-green-color);
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 5px;
}

#write {
  font-size: var(--font-S);
  border: none;
  color: var(--dark-green-color);
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 5px;
}

.login-write_button button :hover {
  color: var(--white-color);
  background-color: var(--green-color);
}

table {
  border-top: 1px solid var(--dark-green-color);
  border-collapse: collapse;
  margin: 0 auto 0 auto;
  width: 900px
}

tr {
  border-bottom: 1px solid var(--dark-green-color);
  padding: 10px;
}

td {
  border-bottom: 1px solid var(--white-color);
  text-align: center;
  padding: 10px;
}

table .even {
  background: var(--white-color);
}

.text {
  text-align: center;
  padding-top: 20px;
  color: var(--black-color);
}

.text:hover {
  text-decoration: underline;
}

@media screen and (max-width:800px) {
  .searchingbox {
    width: 300px;
  }

  .cs_header .searchingbox input {
    width: 150px
  }

  .searchingbox ::placeholder {
    color: white;
  }


}