:root {
  /*color*/
  --white-color: #fff;
  --black-color: #140a00;
  --green-color: #5C6D47;
  --dark-green-color: #2f3a2c;
  --orange-color: #E99420;

  /* size */
  --padding: 12px;

  /* font size */
  --font-XL: 40px;
  --font-L: 30px;
  --font-M: 25px;
  --font-S: 18px;
  --font-micro: 12px;

}
hr{
  align:center;
  width:300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  padding-top: 100px;
}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: none !important;
}
<<<<<<< HEAD

/* header는 header.css */
=======
.input_button{
  text-align:center;
}
/* header */
header {
  background-color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  padding: 17px 0 10px 16px;
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
}

header .logo img {
  width: 13rem;
  margin-top: 6px;
  margin-right: 25px;
}

header .searchingbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border: none;
  height: 2.5rem;
  width: 38vw;
  max-width: 400px;
  border: 1px solid var(--orange-color);
}

header .searchingbox input {
  font-size: var(--font-S);
  width: 25.75rem;
  padding: 10px;
  border: 0px;
  background-color: var(--white-color);
}

header .searchingbox input:focus {
  outline: none;
}

header .searchingbox button {
  width: 50px;
  outline: none;
  float: left;
  border: 0px;
  background-color: var(--white-color);
  border-radius: 50%;
}

header .searchingbox button {
  color: var(--green-color);
  border: 0px;
}

header .web_or_app {
  position: absolute;
  right: 50px;
  display: flex;
  margin-top: 12px;

}

header .web_or_app a {
  color: var(--green-color);
  font-size: var(--font-micro);
}

header .web_or_app #apple {
  margin-right: 50px;
}

header .web_or_app i {
  font-size: var(--font-L);
}
>>>>>>> 5e1cdeed17c30d3e141c1c39d6b462cd006411d6

/* 메인화면 */
#home-main-top {
  background-color: #faf4ea;
  font-size: var(--font-XL);
  color: var(--dark-green-color);
  height: 550px;
  padding-top: 100px;
  text-align: center;
}

#home-main-top .quote{
  font-family:'Do Hyeon', sans-serif;
  font-size:70px;
}
#search-term-list{
  background-color:#d0e3b8;
  height: 550px;
  padding-top: 50px;
  text-align: center;
}
.home_main div{
  margin-top:100px;
}
/* 페이지 기능 설명 */
.service {
  background-color: var(--white-color);
  height: 550px;
}
.t1{
  font-family:"나눔 고딕";
  margin: 10px 0 0 200px;
}

.service h1 {
  margin: 200px 100px 0 200px;
  font-size: var(--font-XL);
}

#direct_translate img {
  width: 500px;
  position: relative;
  left: 600px;
  top: -250px;
}

#direct_translate div a {
  background-color: #F1F3F5;
  color: #212529;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 1.45rem 2.6rem;
  display: inline-block;
  margin:100px;
}

.input_button a {
  background-color: #ffe3bc;
  color:#E99420;
  font-size:20px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding: 1.45rem 4.6rem;
  display: inline-block;
  margin-bottom:100px;
  width:250px;
  height:50px;

}

.lime{
  font-size:20px;
  font-family: 'Jua', sans-serif;
  color:#5C6D47;
}
.orange{
  font-size:20px;
  font-family: 'Jua', sans-serif;
  color:#E99420;
}

/* footer */
footer {
  background-color:#e8e8e8;
  color:#383838;
  padding: 4rem 0;
  text-align:center;
}

/* footer .footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  text-align:center;
  margin-left:100px;
}

footer .footer-top .footer-list {
  list-style-type: none;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  text-align:center;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 3.2rem;
}

footer .footer-bottom #cotyright {
  color: #ADB5BD;
  margin-top: 3.2rem;
<<<<<<< HEAD
}
=======
} */

/* 미디어쿼리 */
@media screen and (max-width:800px) {

  header .logo {
    display: flex;
    left: 1px;
  }

  header .searchingbox {
    width: 300px;
  }

  header .searchingbox ::placeholder {
    color: white;
  }

  header .web_or_app {

    display: none;
  }

}
>>>>>>> 5e1cdeed17c30d3e141c1c39d6b462cd006411d6
