:root {
  /*color*/
  --white-color: #fff;
  --black-color: #140a00;
  --green-color: #5C6D47;
  --dark-green-color: #2f3a2c;
  --orange-color: #E99420;

  /* size */
  --padding: 12px;

  /* font size */
  --font-XL: 40px;
  --font-L: 30px;
  --font-M: 25px;
  --font-S: 18px;
  --font-micro: 12px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  padding-top: 100px;
}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: none !important;
}

/* header */
header {
  background-color: var(--white-color);
  display: flex;
  justify-content: flex-start;
  padding: 17px 0 10px 16px;
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
}

header .logo img {
  width: 13rem;
  margin-top: 6px;
  margin-right: 25px;
}

header .searchingbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border: none;
  height: 2.5rem;
  width: 38vw;
  max-width: 400px;
  border: 1px solid var(--orange-color);
}

header .searchingbox input {
  font-size: var(--font-S);
  width: 23.75rem;
  padding: 10px;
  border: 0px;
  background-color: var(--white-color);
}

header .searchingbox input:focus {
  outline: none;
}

header .searchingbox button {
  width: 50px;
  outline: none;
  float: left;
  border: 0px;
  background-color: var(--white-color);
  border-radius: 50%;
}

header .searchingbox button {
  color: var(--green-color);
  border: 0px;
}

header .web_or_app {
  display: flex;
  position: absolute;
  right: 50px;
  margin-top: 12px;

}

header .web_or_app a {
  color: var(--green-color);
  font-size: var(--font-micro);
}

header .web_or_app #apple {
  margin-right: 50px;
}

header .web_or_app i {
  font-size: var(--font-L);
}

/* table*/

table {
  border-top: 1px solid var(--dark-green-color);
  border-collapse: collapse;
  margin: 0 auto 0 auto;
}

tr {
  border-bottom: 1px solid var(--dark-green-color);
  padding: 10px;
}

td {
  border-bottom: 1px solid var(--white-color);
  text-align: center;
  padding: 10px;
}

table .even {
  background: var(--white-color);
}

.text {
  text-align: center;
  padding-top: 20px;
  color: var(--black-color);
}

.text:hover {
  text-decoration: underline;
}

a:link {
  color: var(--green-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* title */
.cs_header {
  display: flex;
  justify-content: center;

}

.cs_header #title {
  color: var(--black-color);
  margin: 0 80px 0 30px;
}

.cs_header #title h1,
h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cs_header #title h1 {
  font-size: var(--font-XL);
}

.cs_header #title h2 {
  font-size: var(--font-S);
  color: rgb(146, 146, 146)
}


.cs_header .searchingbox {
  margin: 40px 0 0;
  display: flex;
  justify-content: space-between;
  border: none;
  height: 2.5rem;
  width: 40vw;
  max-width: 600px;
  border: 1px solid var(--green-color);
}

.cs_header .searchingbox input {
  font-size: var(--font-S);
  width: 23.75rem;
  padding: 10px;
  border: 0px;
  background-color: var(--white-color);
}

.cs_header .searchingbox input:focus {
  outline: none;
}

.cs_header .searchingbox button {
  width: 50px;
  outline: none;
  float: left;
  border: 0px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.cs_header .searchingbox button {
  color: var(--green-color);

  border: 0px;
}

/* .content */
.content {}

.write_button {
  margin: 0 16% 14px 0;
  display: flex;
  flex-direction: row-reverse;
}

.write_button button {
  font-size: var(--font-S);
  border: none;
  color: var(--dark-green-color);
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 5px;


}

.write_button :hover {
  color: var(--white-color);
  background-color: var(--green-color);
}

@media screen and (max-width:800px) {

  header .logo {
    display: flex;
    left: 1px;
  }

  header .searchingbox {
    width: 300px;
  }

  header .searchingbox ::placeholder {
    color: var(--white-color);
  }

  header .web_or_app {

    display: none;
  }

}